<!doctype html>
<html>
<head>
    <title>Home page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
</head>
<body>
    <h1 style="color: red; font-size: 40px; ">text</h1>
    <p>Hello!</p>
    <form action="/action_page.php">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value=""><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value=""><br><br>
      <input type="submit" value="Submit">
    </form>
</body>
</html>



